<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="guardian_manipulator">
  <!-- paramters to be set from the launch file -->
  <xacro:arg name="lower_limit" default="${str(-pi/2)}"/>
  <xacro:arg name="upper_limit" default="${str(pi/2)}"/>
  <xacro:arg name="sim_gazebo_classic" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>

  <!-- Import r6bot macro -->
  <xacro:include filename="$(find guardian_description)/urdf/manipulator_macros.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>
  <xacro:manipulator_description
    lower_joint_limit="$(arg lower_limit)"
    upper_joint_limit="$(arg upper_limit)"/>

  <!-- ros2_control -->
  <xacro:include filename="$(find guardian_description)/ros2_control/manipulator.ros2_control.xacro"/>
  
  <xacro:guardian_manipulator_ros2_control
    lower_joint_limit="$(arg lower_limit)"
    upper_joint_limit="$(arg upper_limit)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"/>

  <xacro:if value="$(arg sim_gazebo_classic)">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
