<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="greenguardian">
  <!-- paramters to be set from the launch file -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="sim_gazebo_classic" default="false" />
  <xacro:arg name="simulation_controllers" default="" />

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find guardian_description)/urdf/robot_base.xacro"/>
  <xacro:include filename="$(find guardian_description)/ros2_control/base.ros2_control.xacro"/>

  <!-- Load Base -->
  <xacro:guardian_base prefix="$(arg prefix)"/>
  <xacro:guardian_base_ros2_control
    prefix="$(arg prefix)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"/>

  <xacro:if value="$(arg sim_gazebo_classic)">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
        <ros>
          <remapping>/base_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
        </ros>
      </plugin>
    </gazebo>
  </xacro:if>

  <!-- Load Manipulator -->

</robot>