<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="guardian_manipulator_ros2_control" params="
               lower_joint_limit:=^|${-pi/2}
               upper_joint_limit:=^|${pi/2}
               sim_gazebo_classic:=^|false"
  >

  <xacro:property name="j1_init" value="0.0"/>
  <xacro:property name="j2_init" value="3.1"/>
  <xacro:property name="j3_init" value="0.0"/>
  <xacro:property name="j4_init" value="0.0"/>
  <xacro:property name="j5_init" value="0.0"/>

    <ros2_control name="manipulator_ros2control" type="system">
      <hardware>
        <xacro:if value="$(arg sim_gazebo_classic)">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <!-- Physical HW -->
        <xacro:unless value="$(arg sim_gazebo_classic)">
          <plugin>guardian/Pca9685SystemHardware</plugin>
          <param name="pca_frequency">50.0</param>
          <param name="jt_lower_limit">{lower_joint_limit}</param>
          <param name="jt_upper_limit">{upper_joint_limit}</param>
          
          <param name="joint_1__channel">0</param>
          <param name="joint_2__channel">4</param>
          <param name="joint_3__channel">12</param>
          <param name="joint_4__channel">7</param>
          <param name="joint_5__channel">5</param>   
          <param name="joint_1__init_position">{j1_init}</param>  
          <param name="joint_2__init_position">{j2_init}</param>
          <param name="joint_3__init_position">{j3_init}</param>
          <param name="joint_4__init_position">{j4_init}</param>
          <param name="joint_5__init_position">{j5_init}</param>
        </xacro:unless>
      </hardware>

      <joint name="joint_1">
        <command_interface name="position">
          <param name="min">{lower_joint_limit}</param>
          <param name="max">{upper_joint_limit}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">{j1_init}</param>
        </state_interface>
      </joint>

      <joint name="joint_2">
        <command_interface name="position">
          <param name="min">{lower_joint_limit}</param>
          <param name="max">{upper_joint_limit}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">{j2_init}</param>
        </state_interface>
      </joint>

      <joint name="joint_3">
        <command_interface name="position">
          <param name="min">{lower_joint_limit}</param>
          <param name="max">{upper_joint_limit}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">{j3_init}</param>
        </state_interface>
      </joint>

      <joint name="joint_4">
        <command_interface name="position">
          <param name="min">{lower_joint_limit}</param>
          <param name="max">{upper_joint_limit}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">{j4_init}</param>
        </state_interface>
      </joint>

      <joint name="joint_5">
        <command_interface name="position">
          <param name="min">{lower_joint_limit}</param>
          <param name="max">{upper_joint_limit}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">{j5_init}</param>
        </state_interface>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
